name: Golang Binary Sync

on:
  workflow_dispatch:
    inputs:
      binvern:
        description: '指定Golang版本序号(只能{ =0 | 1 }二选一,默认为0)'
        required: false
        type: string
  schedule:
   - cron: '10 2 * * *'  # 每天凌晨2点10分自动执行(使用最新版本)

permissions:
  contents: write

jobs:
  sync_binaries:
    runs-on: ubuntu-latest
    steps:
      - name: 拉取仓库代码
        uses: actions/checkout@v4

      # 下载各平台二进制包
      - name: 下载指定版本Golang的二进制包
        id: get_files
        run: |
          get_files_and_export_envs() {
            local vnidx=${{ github.event.inputs.binvern }}
            [ X1 != X${vnidx} ] && vnidx=0
            local pat_fn=".[${vnidx}].files[].filename"
            local pat_vn=".[${vnidx}].version"
            local tmp_json="tmp.json"
            set -- https://go.dev/dl/ https://golang.google.cn/dl/
            local x= baseurl=$1 #$2
            mkdir dist && curl -4fsLo ${tmp_json} ${baseurl}?mode=json &&
            for x in $(jq -r "${pat_fn}" <${tmp_json}); do
              set -- dist/${x} ${baseurl}/${x} &&
              printf "\n#[TIP] Now downloading [$2]...\n" &&
              curl -fLo $1 $2
            done

            local vnstr=$(jq -r "${pat_vn}" <${tmp_json})
            echo "使用的版本号: ${vnstr}" && rm -f ${tmp_json}
            ##追加到环境变量中
            echo "VNSTR=v${vnstr#go}" >> $GITHUB_ENV
            echo "BSURL=${baseurl}" >> $GITHUB_ENV
          }
          ##
          get_files_and_export_envs

      - name: 发布到Releases
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          tag_name: "${{ env.VNSTR }}"  # 用版本号作为tag(如v0.12.0)
          name: "Golang ${{ env.VNSTR }} Binaries"
          body: |
            自动同步自 Golang 官网的二进制程序
            - 版本: ${{ env.VNSTR }}
            - 官网下载地址: ${{env.BSURL}}
          overwrite_files: true  # 不覆盖已有版本(避免重复发布同一版本)
